@tailwind base;
@tailwind components;
@tailwind utilities;

#input_element {
  width: 860px;
  margin-left: 5px;
}

.input_boxes {
  display: flex;
  flex-direction: column;
  width: 25%
}

#form_questions {
  display: flex;
  justify-content: space-between;
}
