@tailwind base;
@tailwind components;
@tailwind utilities;

header, main, footer {
  margin-bottom: 0%;
  margin-top: 0%;
}

h2 {
  margin-bottom: 0%;
}

form {
  margin-top: 0%;
}

#input_element {
  width: 860px;
  margin-left: 5px;
}

.input_boxes {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 25px;
  background-color: rgb(198, 226, 235);
  
}


#form_questions {
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
}
